#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

caption {
  caption-side: top;
}

.table td {
  text-align: right;
}

.c3-axis-x-label, .c3-axis-y-label, .c3-xgrid-line {
  font-size: 1rem;
}
