#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

caption {
  caption-side: top;
}

.table td {
  text-align: right;
}

svg .current {
  fill: red;
}

path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #000;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: lightgrey;
}
